<div class="text-center mt-3">
  <i class="users fas fa-users fa-3x rounded-circle align-text-middle"></i>
  <h1>Say Something</h1>
</div>

<div class="chat row px-5 mx-0">
  <div class="col-lg-9">
    <div class="card shadow w-100 h-100 px-3 pt-2 d-flex justify-content-between">
      <div>
        <h4 class="">Followers activity</h4>
        <p class="mb-1"><a href="">Zack Snyder</a> added <a href="">Zack Knight</a> as friend.</p>
        <p class="mb-1"><a href="">Ove</a> added <a href="">Peter</a> as friend.</p>
        <p class="mb-1"><a href="">Tom Hardy</a> added <a href="">Venom</a> as friend.</p>
        <p class="mb-1"><a href="">Arun</a> signed up for this site.</p>
      </div>
      <div class="input-group mb-3">
        <hr class="w-100">
        <input type="text" class="form-control" placeholder="Enter a message">
        <div class="input-group-append">
          <button class="btn btn-success" type="button"><i class="fas fa-search "></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card shadow w-100 h-100 px-3 pt-3">
      <ul class="list-group">
        <li class="list-group-item text-white bg-dark border-secondary active">Home</li>
        <li class="list-group-item text-white bg-dark border-secondary">Messages</li>
        <li class="list-group-item text-white bg-dark border-secondary">Friends</li>
      </ul>
    </div>
  </div>
</div>
